# 用来下载行情数据CSV

In [3]:
import nest_asyncio
nest_asyncio.apply()

from ib_insync import *

import pandas as pd

contract = "TSLA"
# 初始化并连接到 TWS/Gateway
ib = IB()
ib.connect('127.0.0.1', 7496, clientId=3)

# 获取tsla历史分时行情

In [4]:
# 定义合约
stock = Stock(contract, 'SMART', 'USD', primaryExchange='NASDAQ')

# 验证合约
contract_details = ib.reqContractDetails(stock)
if not contract_details:
    print("未找到合约，请检查合约定义")
    ib.disconnect()
    
bars = ib.reqHistoricalData(
    stock,
    endDateTime='',
    durationStr='1 D',
    barSizeSetting='1 min',
    whatToShow='TRADES',
    useRTH=True
)

df = pd.DataFrame(bars)
df

,date,open,high,low,close,volume,average,barCount
0,2025-01-31 09:30:00-05:00,401.50,404.32,401.34,403.21,701223.0,402.246,2365
1,2025-01-31 09:31:00-05:00,402.96,406.36,401.90,406.00,526987.0,404.578,2673
2,2025-01-31 09:32:00-05:00,406.05,406.47,403.34,403.86,327133.0,404.727,1739
3,2025-01-31 09:33:00-05:00,403.65,405.76,403.11,405.26,311955.0,404.634,1556
4,2025-01-31 09:34:00-05:00,405.41,407.09,404.14,406.97,431725.0,405.901,1973
...,...,...,...,...,...,...,...,...
385,2025-01-31 15:55:00-05:00,403.61,404.15,403.05,403.81,158620.0,403.605,814
386,2025-01-31 15:56:00-05:00,403.79,404.91,403.63,404.23,162644.0,404.327,952
387,2025-01-31 15:57:00-05:00,404.31,404.69,403.81,404.46,143066.0,404.312,855
388,2025-01-31 15:58:00-05:00,404.46,404.70,404.10,404.37,202966.0,404.398,1379
389,2025-01-31 15:59:00-05:00,404.37,405.00,404.33,404.58,512748.0,404.725,2976

In [9]:
if len(df) > 0:
    date = df.iloc[0]["date"]
    date = date.strftime('%Y%m%d')
    file_name = "quotes/%s_%s.csv" % (contract, date)
    df.to_csv(file_name, index=False)

In [5]:
ib.disconnect()